@using BmaBackstage.Domain.Entities


<h3>Student Details</h3>
<h4>
    @if(Student != null)
    {
        @Student.Name;
    }
    else
    {
        
    }
</h4>

@code {

    [Parameter]
    public IStudent? Student { get; set; }
}
